.app {
  font-size: 14px;
}

.app_header {
  margin: 30px 40px 0 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.configure {
  display: flex;
  width: 800px;
}

.configure input {
  
}

.search {
  margin: 20px 0;
  width: 800px;
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}


input {
  width: 100%;
  padding: 10px;
}

button, input[type="submit"], input[type="reset"] {
	border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-left: 10px;
  background: #3793C5;
  color: white;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.queries {
  display: flex;
  flex: 0;
  background: #F5F5F5;
  padding: 0 20px 30px;
}

.query {
  width: 100%;
  margin: 0 10px;
}

.query_selector {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}


.results_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results_empty {
  margin: 20px 0;
  text-align: center;
}

.results_table {
  max-width: calc(50vw - 40px);
  height: 380px;
  margin: 20px 0;
  overflow: auto;
  font-size: 14px;
}

tbody {
  background: white;
}

th, td {
  padding: 0 5px;
  height: 30px;
  white-space: nowrap;
  max-width: 340px;
  overflow: hidden;
  text-overflow: ellipsis;
}

thead {
  background: #F5F5F5;
  position: sticky;
  top: 0;
}

tr:hover {
  background: #DCEEFF;
}

th {
  text-align: left;
}

.results_raw {
  background: white;
  max-width: calc(50vw - 40px);
  overflow: auto;
  font-size: 14px;
}

em {
  background: #DCEEFF;
  font-weight: bold;
  padding: 2px;
}